# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# environment
.env

# Tests
/coverage
/.nyc_output

# DB
/.docker/dbdata
ormconfig.json
seeds-ormconfig.json

.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json